@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body{
	background: #3d3d3c;
}

.b-feed{
	margin: auto;
	padding: 50px 20px;
	float: none !important;
}
.b-card{
	margin-bottom: 20px;
}
.b-card__image{
	width: 100%;
}
.b-card__footer{
	background-color: #f5f5f5;
    border-top: 1px solid #ddd;
	padding:0;
	i{
		padding: 15px 0;
		display: block;
	}
}
.modal-title{
	min-height: 25px;
}

.heart {
	background: url(../img/web_heart_animation.png);
	background-position: left;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	cursor: pointer;
	background-size:2900%;
	float: left;
}
.heart:hover, .heart:focus{
	background-position: right;
}

@-webkit-keyframes heartBlast {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}

@keyframes heartBlast {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}

.heartAnimation {
	display: inline-block;
	-webkit-animation-name: heartBlast;
	animation-name: heartBlast;
	-webkit-animation-duration: .8s;
	animation-duration: .8s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-timing-function: steps(28);
	animation-timing-function: steps(28);
	background-position: right;
}